.project__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0 0 6px 6px;
    margin-right: 1.5rem;
    cursor: pointer;
}

.img {
    max-width: 100%;
    border-radius: 6px 6px 0 0;

}

.card__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card__container h4 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.card__container p {
    font-size: 15px;
    color: var(--color-text);
}

@media screen and (max-width : 1024px) {

    .card__container h4 {
        font-size: 20px;
       
    }
    
    .card__container p {
        font-size: 10px;
    }
}

@media screen and (max-width : 900px) {
    .project__card {
        flex-direction: row;
        border-radius: 6px 6px 0 0;
        margin-right: 0;
    }

    .img {
        max-width: 200px;
        border-radius: 6px 0 0 6px;
    }

    .card__container {
        align-items: flex-start;
        justify-content: center;
    }

    .card__container h4 {
        font-size: 17px;
        margin-bottom: 1rem;
    }

}


@media screen and (max-width : 425px) {
    .img {
        max-width: 50%;
    }
}