.services{
  background: var(--color-white );
}
.services_heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.services_heading h1{
    margin: 2rem 0;
    font-size: 30px;
}
.services_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 2rem;
}
@media screen and (max-width : 1024px) {
    .services_heading h1{
        font-size: 25px;
    }
}
@media screen and (max-width : 900px) {
    .services_heading h1{
        font-size: 20px;
    }
  
    .services_cards{
        flex-direction: column;
    }
}