.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section_content{
  flex-basis: 50%;
  padding: 0 9%;
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 text-align: left;


}
.section_content h2{
  font-size: 35px;
  line-height: 39px;
  margin-bottom: 1rem;
}
.section_content p{
  font-size: 1.2rem;
  line-height: 19px;
  font-weight: 400;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: block;
    position: relative;
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1;

}

.section_image{
  flex :1 ;

}
.section_image img{
  width: 100%;
  border-radius: 0;
}